:root {
  --accent: #196f50;
  --error: #c0483a;
  --text: #1d211d;
  --text-muted: #5a665a;
  --text-placeholder: #747474;
  --border: #d4dad4;
  --border-muted: #e1e5e1;
  --surface: #f4f4f4;
  --bg: #fcfcfc;
  --surface-highest: #ffffff;
  --hard: #c88282;
  --good: #c6c171;
  --easy: #52c99e;
  --scrim: #000000;
}

:root[data-theme='dark'] {
  --accent: #5dd5aa;
  --error: #f77f71;
  --text: #ffffff;
  --text-muted: #cad2ca;
  --text-placeholder: #919191;
  --border: #4d564d;
  --border-muted: #373737;
  --surface: #1f2321;
  --bg: #181b19;
  --surface-highest: #222423;
  --hard: #985252;
  --good: #989452;
  --easy: #52987f;
  --scrim: #000000;
}

:root[data-theme='oled'] {
  --accent: #5dd5aa;
  --error: #bf5e53;
  --text: #ffffff;
  --text-muted: #cad2ca;
  --text-placeholder: #919191;
  --border: #4d564d;
  --border-muted: #373737;
  --surface: #1a1d1c;
  --bg: #000000;
  --surface-highest: #1c1c1c;
  --hard: #985252;
  --good: #989452;
  --easy: #52987f;
  --scrim: #000000;
}

:root {
  --accent-10: color-mix(
    in srgb,
    var(--accent) 10%,
    transparent
  );

  --error-10: color-mix(
    in srgb,
    var(--error) 10%,
    transparent
  );

  --surface-60: color-mix(
    in srgb,
    var(--surface) 60%,
    transparent
  );

  --text-10: color-mix(
    in srgb,
    var(--text) 10%,
    transparent
  );

  --text-50: color-mix(
    in srgb,
    var(--text) 50%,
    transparent
  );

  --surface-highest-60: color-mix(
    in srgb,
    var(--surface-highest) 60%,
    transparent
  );

  --surface-highest-80: color-mix(
    in srgb,
    var(--surface-highest) 80%,
    transparent
  );

  --bg-60: color-mix(in srgb, var(--bg) 60%, transparent);

  --scrim-30: color-mix(
    in srgb,
    var(--scrim) 30%,
    transparent
  );
}
