:root {
  --accent: #196f50;
  --error: #c0483a;
  --text: #1d211d;
  --text-muted: #5a665a;
  --text-placeholder: #a0a7a0;
  --border: #b6c2b6;
  --border-muted: #e9eee9;
  --surface: #ffffff;
  --bg: #f5f5f5;
  --hard: #c88282;
  --good: #c6c171;
  --easy: #52c99e;
  --black: #000000;
  --white: #ffffff;
}
