:root {
  --accent: #196f50;
  --error: #c0483a;
  --text: #1d211d;
  --text-muted: #5a665a;
  --text-placeholder: #a0a7a0;
  --border: #b6c2b6;
  --border-muted: #e9eee9;
  --surface: #ffffff;
  --bg: #f5f5f5;
  --hard: #c88282;
  --good: #c6c171;
  --easy: #52c99e;
  --black: #000000;
  --white: #ffffff;
}

:root[data-theme='dark'] {
  --accent: #41c796;
  --error: #f77f71;
  --text: #ffffff;
  --text-muted: #cad2ca;
  --text-placeholder: #6b6b6b;
  --border: #616d61;
  --border-muted: #373737;
  --surface: #222725;
  --bg: #181b19;
  --hard: #985252;
  --good: #989452;
  --easy: #52987f;
  --black: #000000;
  --white: #ffffff;
}
