@mixin focus-outline {
  outline: var(--stroke-default) solid var(--accent);
  box-shadow: 0 0 4px 0 var(--text-50);
}

@mixin fade-mask($direction: to bottom) {
  mask-image: linear-gradient(
    #{$direction},
    black 0,
    black var(--fade-start-margin, 0px),
    var(--fade-start-color, transparent)
      var(--fade-start-margin, 0px),
    black
      calc(
        var(--fade-start-margin, 0px) +
          var(--fade-start, 20px)
      ),
    black calc(100% - var(--fade-end, 20px)),
    var(--fade-end-color, transparent) 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

@mixin hide-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin custom-scrollbar(
  $thumb: var(--border-muted),
  $track: transparent,
  $width: 6px
) {
  scrollbar-width: thin;
  scrollbar-color: #{$thumb} #{$track};

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background-color: $track;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb;
    border-radius: 4px;
  }
}
