@mixin focus-outline {
  outline: var(--stroke-strong) solid var(--accent);
  outline-offset: var(--space-2);
}

@mixin fade-mask(
  $direction: to bottom,
  $startSize: 20px,
  $endSize: 20px
) {
  mask-image: linear-gradient(
    #{$direction},
    transparent 0,
    black #{$startSize},
    black calc(100% - #{$endSize}),
    transparent 100%
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(
    #{$direction},
    transparent 0,
    black #{$startSize},
    black calc(100% - #{$endSize}),
    transparent 100%
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
}
