html,
body {
  background-color: var(--bg);
  overscroll-behavior: none;
  position: fixed;
  inset: 0;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
svg,
.icon {
  -webkit-touch-callout: none;
  pointer-events: none;
}

input,
textarea {
  caret-color: var(--accent);
}

* {
  -webkit-tap-highlight-color: transparent;
}
