body {
  background-color: var(--bg);
  overscroll-behavior: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

img,
svg,
.icon {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
}

input,
textarea {
  caret-color: var(--accent);
}

* {
  -webkit-tap-highlight-color: transparent;
}

button,
.clickable {
  touch-action: manipulation;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}
